<div class="app-brand demo">
    <a href="/index.html" class="app-brand-link">
        <span class="app-brand-logo demo">
            <image src="/assets/img/users/STSA_small.png" />
        </span>
        <span class="app-brand-text demo menu-text fw-bolder ms-2">学风督导队</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
</div>

<div class="menu-inner-shadow"></div>

<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Users/UserCenter/index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="首页">首页</div>
        </a>
    </li>
    {% if department_id!=0 %}
    <li class="menu-item">
        <a href="/Users/UserCenter/contact.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-phone"></i>
            <div data-i18n="通讯录">通讯录</div>
        </a>
    </li>
    {% endif %}
    {% if department_id==1 %}
    <li class="menu-item">
        <a href="/Users/UserCenter/blacklist.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-upside-down"></i>
            <div data-i18n="清退记录">清退记录</div>
        </a>
    </li>
    {% endif %}

    <!-- 工作信息 -->
    {% if department!=0 %}
    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">工作信息</span>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-briefcase"></i>
            <div data-i18n="岗位信息">岗位信息</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Users/UserCenter/work_basic_info.html" class="menu-link">
                    <div data-i18n="基本信息">基本信息</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Users/UserCenter/score_details.html" class="menu-link">
                    <div data-i18n="扣分详情">扣分详情</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link text-decoration-line-through">
                    <div data-i18n="财务表">财务表</div>
                </a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if "现场组" in department_name and job==0 %}
    <li class="menu-item">
        <a href="/Users/UserCenter/task_history.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-collection"></i>
            <div data-i18n="历史任务">历史任务</div>
        </a>
    </li>
    {% endif %}

    <!-- 任务数据 -->
    {% if "现场组" in department_name or department_id==1 or department_id==3 %}
    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">任务数据</span>
    </li>
    {% endif %}
    {% if "现场组" in department_name and job==0 %}
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-notepad"></i>
            <div data-i18n="数据填写">数据填写</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Users/UserCenter/selfstudy_record.html" class="menu-link">
                    <div data-i18n="查早">查早</div>
                </a>
            </li>
            <li class="menu-item text-decoration-line-through">
                <a href="#" class="menu-link">
                    <div data-i18n="查课">查课</div>
                </a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if ("现场组" in department_name and job==1) or department_id==1 %}
    <li class="menu-item text-decoration-line-through" auth_require="x1">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-task"></i>
            <div data-i18n="数据确认">数据确认</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <div data-i18n="查早">查早</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <div data-i18n="查课">查课</div>
                </a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if department_id==3 or department_id==1 %}
    <li class="menu-item" auth_require="01,31">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-data"></i>
            <div data-i18n="后台数据管理">后台数据管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item text-decoration-line-through">
                <a href="#" class="menu-link">
                    <div data-i18n="变更锁定时间">变更锁定时间</div>
                </a>
            </li>
            <li class="menu-item text-decoration-line-through">
                <a href="#" class="menu-link">
                    <div data-i18n="数据编辑">数据编辑</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Users/UserCenter/classroom_editor.html" class="menu-link">
                    <div data-i18n="全校教室信息">全校教室信息</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Users/UserCenter/selfstudy_classroom_editor.html" class="menu-link">
                    <div data-i18n="早自习教室信息">早自习教室信息</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Users/UserCenter/selfstudy_scheduler.html" class="menu-link">
                    <div data-i18n="早自习排班">早自习排班</div>
                </a>
            </li>
        </ul>
    </li>
    {% endif %}

    <!-- 管理 -->
    {% if job==1 or department_id==1 %}
    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">管理</span>
    </li>
    <li class="menu-item" auth_require="x1">
        <a href="#" class="menu-link text-decoration-line-through">
            <i class="menu-icon tf-icons bx bx-message-square-dots"></i>
            <div data-i18n="通知编辑">通知编辑</div>
        </a>
    </li>
    <li class="menu-item" auth_require="x1">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-group"></i>
            <div data-i18n="组内管理">组内管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="#" class="menu-link text-decoration-line-through">
                    <div data-i18n="空课表变更">空课表变更</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Users/UserCenter/member_management.html" class="menu-link">
                    <div data-i18n="人员增删">人员增删</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link text-decoration-line-through">
                    <div data-i18n="财务变动">财务变动</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link text-decoration-line-through">
                    <div data-i18n="组员分数变动">组员分数变动</div>
                </a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if department_id==1 %}
    <li class="menu-item" auth_require="01">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-bar-chart-alt-2"></i>
            <div data-i18n="其他数据">其他数据</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Users/UserCenter/department_edit.html" class="menu-link">
                    <div data-i18n="部门管理">部门管理</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Users/UserCenter/school_edit.html" class="menu-link">
                    <div data-i18n="学院管理">学院管理</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Users/UserCenter/finance_EXCEL_export.html" class="menu-link">
                    <div data-i18n="财务报表导出">财务报表导出</div>
                </a>
            </li>
        </ul>
    </li>
    {% endif %}
</ul>